.navbar{
    border-bottom: 1px solid #ebebeb;
}
.navbar.nav-shadow{
    box-shadow: 0 5px 2px -5px rgb(0 0 0 / 50%);
}
.site-name{
    color: #2b243f !important;
    font-size: 21px;
    font-weight: 500;
}
.navbar .nav-link{
    font-size: 17px;
    color: #000 !important;
    font-weight: 500;
    margin: 0px 10px;
}
.navbar .nav-link:hover{
    color: #4e4d4d !important;
}
.navbar .navbar-brand img{
    height: 45px;
    width: 35px;
    object-fit: cover;
}

.login-btn{
    color: #fff !important;
    background-color: #483e68;
    border-color: #362d50;
    font-weight: 600;
    font-size: 16px;
}
.login-btn:hover{
    color: #fff;
    background-color: #3c3457;
}
